.Psa {
  background:    rgba(255, 255, 255, 0.5);
  bottom:        0;
  border-radius: 1em 1em 0 0;
  box-sizing:    border-box;
  left:          50%;
  max-width:     600px;
  padding:       1em 1em;
  position:      absolute;
  transform:     translateX(-50%);
  width:         90%;
}

.Psa h1 {
	font-size:     1.5em;
	margin-bottom: 0.5em;
	text-align:    center;
}

.Psa p {
	line-height:   1.4;
	margin-bottom: 1em;
}

.Psa p:last-child {
	margin-bottom: 0;
}
