* {
	border:  0;
	margin:  0;
	padding: 0;
}

a {
	color: #3C8FC7;
}

html, body {
	background:  #000;
	color:       #333;
	font-family: Helvetica, Arial, sans-serif;
	height:      100%;
	overflow:    hidden;
	width:       100%;
}